#login{
    text-align: center;
    margin-top: 75px;
    font-size: 20px;
    border: 1px solid pink;
    width: 400px;
    margin-left: 450px;
    height: 300px;
    border-radius: 10px;
}
.input{
    margin-top: 5px;
    margin-bottom: 10px;
    height: 25px;
}
#text{
    text-align: center;
}